{
  "presets": [
    "@babel/preset-env",
    "@babel/preset-react",
    "@babel/preset-typescript"
  ],
  "plugins": [
    "@babel/proposal-class-properties",
    "@babel/proposal-object-rest-spread",
    "babel-plugin-styled-components",
    ["prismjs", {
      "languages:": ["javascript"],
      "plugins": ["line-numbers", "show-language"],
      "theme": "default",
      "css": true
    }]
  ]
}
